{% extends 'base.html' %}
{% load static %}
{% comment %} 
{% endcomment %}
{% block content %}

    <form action="{% url 'create_prescriber' %}" method="post" class="search">
        {% csrf_token %}
        <label for="npi"><b>NPI:</b></label>
        <input type="text" id="npi" name="npi"><br>

        <label for="fname"><b>First Name:</b></label>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname"><b>Last Name:</b></label>
        <input type="text" id="lname" name="lname"><br>
        


        <input class="space" type="radio" id="F" name="gender" value="F" selected>
        <label class="space" for="F"><b>Female</b></label><br>
        <input class="space" type="radio" id="M" name="gender" value="M">
        <label class="space" for="M"><b>Male</b></label><br>
  
        <label class="space" for="state">State/Territory:</label>
        <select class="space" name="state" id="state">
            {% for state in states %}
            <option value={{state.state_abbrev}}>{{state.state}}</option>
            {% endfor %}
        </select><br>

        <label for="credendtials"><b>Credentials:</b></label>
        <input type="text" id="credendtials" name="credendtials"><br>

                <option value="{{state.state_abbrev}}">{{state.state}}</option>
            {% endfor %}
        </select><br>

        <label for="credentials"><b>Credentials:</b></label>
        <input type="text" id="credentials" name="credentials"><br>
        <label for="specialty"><b>Specialty:</b></label>
        <input type="text" id="specialty" name="specialty"><br>

        <input class="space" type="radio" id="opi_y" name="opiate" value="y" selected>
        <label class="space" for="opi_y"><b>Prescribes Opioids</b></label><br>
        <input class="space" type="radio" id="opi_n" name="opiate" value="n">
        <label class="space" for="opi_n"><b>Does not Prescribe Opioids</b></label><br>

        <label for="prescriptions"><b>Total Prescriptions:</b></label>
        <input type="text" id="prescriptions" name="prescriptions"><br>
        <button class="btn btn-primary my-2 my-sm-0 space" type="submit">Create Prescriber</button>
    </form>  

{% endblock %}