{% extends 'base.html' %}
{% load static %}
{% comment %} 
{% endcomment %}
{% block content %}

<!-- Headers -->
<html>
    <body> 
        <div class="header-container"> 
            <img src="static/img/header-img.jpeg" alt="Pills" style="width:100%">
            <div class="header-content-container-left"> 
                <h1 class="header-title">Opioid Crisis Real-Time Data</h1>
                <p class="header-subtitle">Dig into the epidemic with the first accessible database </p> 
                <button type="button" class="header-button">View Analysis</button>  
            </div> 
        </div>
        <div class="header-container"> 
            <img src="static/img/headertwo.jpeg" alt="Other" style="width:100%">
            <div class="header-content-container-right"> 
                <h1 class="header-title">See Opiate Prescribers</h1>
                <p class="header-subtitle">Find out who is prescribing opiates by volume</p> 
                <button type="button" class="header-button">View Prescribers</button>  
            </div> 
        </div>  
        <div class="header-container"> 
            <img src="static/img/headerthree.jpeg" alt="New" style="width:100%">
            <div class="header-content-container-left"> 
                <h1 class="header-title">See Popular Opiates</h1>
                <p class="header-subtitle">Learn what opiates are among the most prescribed</p> 
                <button type="button" class="header-button">View Substances</button>  
            </div> 
        </div>     
    </body>
</html> 


{% endblock %}