{% extends 'base.html' %}
{% load static %}
{% comment %} 
{% endcomment %}
{% block content %}

    <div class="detail_header">
        {% if prescriber.gender == 'F'%}
            <img src="{% static 'img/profile_female.png' %}">
        {% endif %}

        {% if prescriber.gender == 'M'%}
            <img src="{% static 'img/profile_male.png' %}">
        {% endif %}

        <h4 class="card_title"><a href="#"><b>{{prescriber}}</b></a></h4>
        <p class="card_paragaph"><b>Specialty:</b> {{prescriber.specialty}}</p>
        <p class="card_paragaph"><b>Credentials:</b> {{prescriber.credentials}}</p><br>
        <button type="button" class="btn btn-primary my-2 my-sm-0 create_button" onclick="window.location.href='#'">Edit Prescriber</button>  
        
        <form method="post" action ="{% url 'delete_prescriber' %}">
            {% csrf_token %}
            <input type="hidden" value="{{prescriber.npi}}" name="npi">
            <button type="submit" class="btn btn-primary my-2 my-sm-0 create_button">Delete Prescriber</button>
        </form>
          
    </div>


    <br>
    <h4><b>Top Prescriptions:</b></h4>
    <div class="card_grid">
        {% for triple in triples %}
            <div class="card">
                <div class="card_container">
                    <h4 class="card_title"><a href="{% url 'drug_details' drug_id=triple.drug_id.id %}"><b>{{triple.drug_id}}</b></a></h4>
                    <p><b>Quantity: </b>{{triple.quantity}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}