{% extends 'base.html' %}
{% load static %}
{% comment %} 
{% endcomment %}
{% block content %}

<div class="card_grid">
    {% for prescriber in prescribers %}
        <div class="card">
            <div class="card_container">
                <h4 class="card_title"><a href="{% url 'prescriber_details' npi=prescriber.npi %}"><b>{{prescriber}}</b></a></h4>
                <p class="card_paragaph"><b>Specialty:</b> {{prescriber.specialty}}</p>
                <p class="card_paragaph"><b>Credentials:</b> {{prescriber.credentials}}</p>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}